.people-page{
    width: 600px;
}

.app-input{
    color:aliceblue; 
}

.app-button{
    margin: 10px 10px 10px 0px;
    color:aliceblue !important; 
    background-color: rgb(100, 88, 117) !important;
}

.delete-button{
    background-color: rgb(216, 35, 80) !important; 
    color: aliceblue !important;
}

.position{
    margin: 10px 0px 10px 0px;
    padding: 0px 5px 0px 15px;
    height: 40px;
    font-size: medium;
    color: aliceblue;
    background-color: rgb(100, 88, 117);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected{
    color:aliceblue !important; 
    background-color: rgb(79, 69, 94) !important; 
    box-shadow: none !important;
}

.not-selected{
    color:aliceblue !important; 
    background-color: rgb(100, 88, 117) !important; 
    box-shadow: none !important;
}

.title-block{
    background-color: rgb(100, 88, 117);
    color: aliceblue;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

.title-block-text{
    font-size: 20px;
    margin: 0px 0px 0px 15px;
}

.food-eaten{
    background-color: rgb(100, 88, 117);
    color: aliceblue;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}

.people-eat{
    background-color: rgb(100, 88, 117);
    color: aliceblue;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
}
.bill-position{
    margin: 10px 0px 10px 0px;
    width: 600px;
} 

.slider{
    background-color: rgb(100, 88, 117);
}

.result-position{
    margin-bottom: 20px;
}

.payer{
    font-size: 20px;
}

.app-card{
    background-color: rgb(100, 88, 117) !important; 
    color: aliceblue !important; 
    border-radius: 20px !important;
}

.card-button{
    color:aliceblue; 
    background-color: rgb(100, 88, 117);
}